.Linkactive {
  color: var(--primary);
}

.separator1 {
  height: 2px;
  width: 100px;
  background: var(--primary);
  border-radius: 20px;
}

.separator2 {
  height: 2px;
  width: 150px;
  background: var(--primary);
  border-radius: 20px;
}

