.wifi{
    display: flex;
    font-family: "Rubik", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;

    p{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:var(--primary);
    }
}