@use "../../../../assets/styles/mixins" as mixin;

.mapCom {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixin.xs {
    flex-direction:column;
    width: 100%;
  }

  .map {
    width: 80%;
    height: 100%;

    @include mixin.xs {
      width: 100%;
    }
  }
  .loca {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    @include mixin.xs {
      width: 100%;
      margin: 0;
    }

    p {
      width: 80%;
      text-align: center;
    }
  }
}
